@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1.5rem);
  }

  40% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
  }

  60% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-0.5rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 600ms ease-in-out forwards;
}

@keyframes imgShow {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
